about/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=1.0">
    <meta name="description" content="Lorem ipsum dolor sit amet">
    <meta name="keywords" content="fast, coding">
    <title>About us</title>
    <link rel="stylesheet" href="../css/style.css"><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on"><![endif]-->
<!--[if lt IE 9]>
    <link rel="stylesheet" href="../css/ie8.css">
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script><![endif]-->
    <link href="..css/jquery.slider.min.css" rel="stylesheet">
  </head>
  <body class="page-about">
    <div class="wrapper">
      <header class="site-header" id="header">
        <div class="container">
          <div class="header">
            <div class="logo"><a href="..">My Logo</a></div>
            <label class="nav-collapse visible-xs" for="btn-menu">Menu</label>
            <input type="checkbox" name="menu" id="btn-menu">
            <nav class="main-nav">
              <ul class="menu">
                <li><a href="../">Home</a></li>
                <li class="active"><a href="../about/">About</a></li>
                <li><a href="../product/">Products</a></li>
                <li><a href="../news/">News</a></li>
                <li><a href="../recruite/">Recruite</a></li>
                <li><a href="../contact/">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <div class="container">
        <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ul>
        <section class="sec-about" id="about">
          <div style="height:700px;background:#eee;"></div>
        </section>
      </div>
      <footer class="site-footer" id="footer">
        <p class="text-center">Copyright &copy; 2017 フェイリフトのよくある失敗<br>All Rights Reserved.</p>
      </footer>
    </div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/modernizr.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>

dev/pug/about/index.pug
extends ../_layouts/_default

block vars
  -id           = 'about'
  -title        = 'About us'
  -description  = 'Lorem ipsum dolor sit amet'
  -keywords     = 'fast, coding'
  -bodyClass    = 'page-about'
  -path         = '..'

block fc_head
  link(href=path+'css/jquery.slider.min.css', rel="stylesheet")

block container

  .container
    ul.breadcrumbs
      li
        a(href='/') Home
      li About

    section.sec-about#about
      div(style='height:700px;background:#eee;')
